body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2563eb;
}

p {
    color: #555;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 12px;
    max-width: 350px;
    border-radius: 10px;
}
h1 {
    font-size: 40px;
}

li:hover {
    transform: scale(1.03);
}

li {
    transition: 0.3s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 120px;
    border-radius: 20px;
}

header h1 {
    margin-top: 10px;
    color: #2563eb;
}

header p {
    color: #666;
    font-size: 18px;
}
